.table-header{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    width: 80%;
}
.table-header-names{
    padding-right: 50px;
    cursor: pointer;
}