.edit{
    width: 50%;
    margin: auto;
}
.edit-list-item{
    display: flex;
    flex-direction: column;
}
.edit-props{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    width: 80%;
}
.edit-fields{
    display: flex;
}